
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img1.jpg');
    background-size: cover;
    color: #272626;
    font-family: Arial, Helvetica, sans-serif;
}



nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}


.section {
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-weight: bold;
}


p {
    margin-bottom: 20px;
    line-height: 1.6;
}


a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}


.project {
    margin-bottom: 30px;
    margin-top: 35px;
    background-color: rgba(239, 233, 233, 0.4);
    border-radius: 5px;

}

.project img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project h3 {
    margin-top: 10px;
}


form {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}


